<main class="background">
  <div class="nav">
    <div class="line">
      <span class="icon"><i class="pi pi-warehouse"></i></span>
      <span class="text"><a [routerLink]="['/']">Greenhouse</a></span>
    </div>
    <div class="line">
      <span class="icon"><i class="pi pi-objects-column"></i></span>
      <span class="text"><a [routerLink]="['/']">Dashboard</a></span>
    </div>
    <div class="line">
      <span class="icon"><i class="pi pi-microchip"></i></span>
      <span class="text"
        ><a [routerLink]="['/smart_devices']">Smart Devices</a></span
      >
    </div>
    <div class="line">
      <span class="icon"><i class="pi pi-bell"></i></span>
      <span class="text"><a [routerLink]="['/alerts']">Alerts</a></span>
    </div>
    <div class="line">
      <span class="icon"><i class="pi pi-book"></i></span>
      <span class="text"><a [routerLink]="['/diary']">Diary</a></span>
    </div>
    <div class="line">
      <span class="icon"><i class="pi pi-file-edit"></i></span>
      <span class="text"><a [routerLink]="['/scripts']">Scripts</a></span>
    </div>
    <div class="line">
      <span class="icon"><i class="pi pi-cog"></i></span>
      <span class="text"><a [routerLink]="['/settings']">Settings</a></span>
    </div>
    <div class="line fix-to-bottom">
      <span class="icon"><i class="pi pi-sign-out"></i></span>
      <span class="text" (click)="signOut()">Logout</span>
    </div>
  </div>
</main>
