:host {
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 300px;
  height: fit-content;
  .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .login-button {
    flex-direction: row-reverse;
  }
}

.p-card-class {
  background-color: var(--grn-card-color);
}

.login-failed {
  color: red;
  font-size: 12px;
}

.registerLink {
  color: var(--grn-card-color);
  cursor: pointer;
}
