<grn-nav-bar></grn-nav-bar>
<main>
  <div class="heading">
    <div class="heading-left">
      <p-button
        type="button"
        (click)="goBack()"
        icon="pi pi-arrow-left"
        styleClass="p-button-text"></p-button>
      <h1>
        Alert {{ identifier }} from {{ display(dataSource || 'not found') }}
        @if (alias()) {
          ({{ alias() }})
        }
      </h1>
    </div>
  </div>
  <div class="alert-detail-container">
    @if (!alerts()) {
      <div class="error">
        <p-message severity="error" text="ERROR LOADING ALERTS"></p-message>
      </div>
    } @else {
      <div class="content">
        <grn-alert-detail-list [alerts]="alerts()!"></grn-alert-detail-list>
      </div>
      <div class="content">
        <grn-alert-detail-info [alerts]="alerts()!"></grn-alert-detail-info>
      </div>
    }
  </div>
</main>
