<grn-nav-bar></grn-nav-bar>
<main>
  <div class="heading">
    <div class="heading-left">
      <p-button
        type="button"
        (click)="goBack()"
        icon="pi pi-arrow-left"
        styleClass="p-button-text"></p-button>
      <h1>
        Alert {{ identifier }} from {{ display(dataSource || 'not found') }}
        @if (alias()) {
          ({{ alias() }})
        }
      </h1>
    </div>
  </div>
  <div class="content">
    @if (!alerts()) {
      ERROR LOADING ALERTS
    } @else {
      <grn-alert-detail-list [alerts]="alerts()!"></grn-alert-detail-list>
      <grn-alert-detail-info [alerts]="alerts()!"></grn-alert-detail-info>
    }
  </div>
</main>
