<grn-card
  [title]="header()"
  icon="pi-info-circle"
  (iconClicked)="this.dialogVisible = true">
  <div class="graph-controls">
    <p-datepicker
      [(ngModel)]="startDate"
      [showTime]="true"
      appendTo="body"
      [maxDate]="endDate()"
      hourFormat="24" />

    <p-datepicker
      [(ngModel)]="endDate"
      [showTime]="true"
      appendTo="body"
      [minDate]="startDate()"
      [maxDate]="now()"
      hourFormat="24" />
  </div>
  <div class="graph" style="height: 100%; width: 100%">
    <p-chart
      type="line"
      [data]="timeseries()"
      [options]="chartOptions"></p-chart>
    @if (loading()) {
      <p-progress-spinner ariaLabel="loading" class="chartMessage" />
    }
    @if (error()) {
      <p-message
        severity="error"
        [text]="error()!"
        class="chartMessage"></p-message>
    }
  </div>
</grn-card>

<p-dialog
  [header]="'Device Information'"
  [(visible)]="dialogVisible"
  [modal]="true"
  [closable]="true"
  [dismissableMask]="true"
  [appendTo]="'body'"
  class="gridster-item-content">
  <div class="flex flex-col gap-4">
    <p>Device ID: {{ config().device_id }}</p>
    <p>Sub Property: {{ config().sub_property }}</p>
  </div>
</p-dialog>
